@import "tailwindcss";

@theme inline {
  --background-primary: var(--background-primary);
  --background-secondary: var(--background-secondary);
  --background-tertiary: var(--background-tertiary);
  --background-alternate: var(--background-alternate);

  --text-primary: var(--text-primary);
  --text-secondary: var(--text-secondary);

  --button-dark: var(--button-dark);

  --accent: var(--accent);

  --card-background: var(--card-background);

  --grey-100: var(--grey-100);
  --grey-200: var(--grey-200);
  --grey-300: var(--grey-300);
  --grey-400: var(--grey-400);

  --font-family: var(--font-inter);
}

:root {
  --content-width: 1200px;
  --text-max-width: 65ch;

  --background-primary: #fbf8f3;
  --background-secondary: #21433d;
  --background-tertiary: #e5e6c6;
  --background-alternate: #d6ebff;

  --text-primary: #141937;
  --text-secondary: #fbf8f3;

  --button-dark: #21433d;

  --accent: #dfee87;

  --card-background: #f3f2ea;

  --grey-100: #e5e6df;
  --grey-200: #bdbeb8;
  --grey-300: #979893;
  --grey-400: #72736f;

  --tag-size: clamp(0.6875rem, 0.5597rem + 0.5682vw, 1rem); /* 11px - 16px */
  --p-size: clamp(0.75rem, 0.5966rem + 0.6818vw, 1.125rem); /* 12px - 18px */
  --h6-size: clamp(1.125rem, 0.9716rem + 0.6818vw, 1.5rem); /* 18px - 24px */
  --h5-size: clamp(1.25rem, 0.9943rem + 1.1364vw, 1.875rem); /* 20px - 30px */
  --h4-size: clamp(1.5625rem, 1.179rem + 1.7045vw, 2.5rem); /* 25px - 40px */
  --h3-size: clamp(1.875rem, 1.4148rem + 2.0455vw, 3rem); /* 30px - 48px */
  --h2-size: clamp(2.1rem, 1.36rem + 2.2727vw, 3.125rem); /* 34px - 50px */
  --h1-size: clamp(2.5rem, 1.8864rem + 2.7273vw, 4rem); /* 40px - 64px */
}

body {
  background-color: var(--background);
  font-family: var(--font-family);
  display: grid;
  grid-template-columns:
    [full-start] 40px
    [content-start] 1fr
    [content-end] 40px
    [full-end];
  grid-template-rows: auto 1fr auto;
}

@media (min-width: 768px) {
  body {
    grid-template-columns:
      [full-start] max(64px, calc((100% - 1384px) / 2))
      [content-start] minmax(0, 692px)
      [middel] minmax(0, 692px)
      [content-end] max(64px, calc((100% - 1384px) / 2))
      [full-end];
  }
}

main {
  grid-column: full;
  display: grid;
  grid-template-columns: subgrid;
  background-color: var(--background-primary);
  font-family: var(--font-family);
}

footer {
  grid-column: full;
  display: grid;
  grid-template-columns: subgrid;
}

footer p {
  color: inherit;
}

h1 {
  font-size: var(--h1-size);
  font-family: var(--font-inter);
  color: var(--text-primary);
}

h2 {
  font-size: var(--h2-size);
  font-family: var(--font-inter);
  color: var(--text-primary);
}

h3 {
  font-size: var(--h3-size);
  font-family: var(--font-inter);
  color: var(--text-primary);
}

h4 {
  font-size: var(--h4-size);
  font-family: var(--font-inter);
  color: var(--text-primary);
}

h5 {
  font-size: var(--h5-size);
  font-family: var(--font-inter);
  color: var(--text-primary);
}

h6 {
  font-size: var(--h6-size);
  font-family: var(--font-inter);
  color: var(--text-primary);
}

p {
  font-size: var(--p-size);
  font-family: var(--font-inter);
  color: var(--text-primary);
}
